.filter-container-box {
  height: 100vh;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 5%;
  & div {
    & p {
      font-size: 1.2rem;
      margin: 8px 0px;
    }
    & input {
      color: red;
    }
  }
}

/* width */
.filter-container-box::-webkit-scrollbar {
  width: 1px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #d31616;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #08ba1d;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #570ecd;
// }
